/* Interval */

/* Margin */
.m_a { margin: auto }
.m_0 { margin: 0 }
.m_2 { margin: 2px }
.m_4 { margin: 4px }
.m_8 { margin: 8px }
.m_12 { margin: 12px }
.m_16 { margin: 16px }
.m_24 { margin: 24px }
.m_32 { margin: 32px }
.m_40 { margin: 40px }
.m_48 { margin: 48px }
.m_56 { margin: 56px }
.m_64 { margin: 64px }
.m_72 { margin: 72px }
.m_80 { margin: 80px }

/* Margin Top */
.mt_a { margin-top: auto }
.mt_0 { margin-top: 0 }
.mt_2 { margin-top: 2px }
.mt_4 { margin-top: 4px }
.mt_8 { margin-top: 8px }
.mt_12 { margin-top: 12px }
.mt_16 { margin-top: 16px }
.mt_24 { margin-top: 24px }
.mt_32 { margin-top: 32px }
.mt_40 { margin-top: 40px }
.mt_48 { margin-top: 48px }
.mt_56 { margin-top: 56px }
.mt_64 { margin-top: 64px }
.mt_72 { margin-top: 72px }
.mt_80 { margin-top: 80px }

/* Margin Right */
.mr_a { margin-right: auto }
.mr_0 { margin-right: 0 }
.mr_2 { margin-right: 2px }
.mr_4 { margin-right: 4px }
.mr_8 { margin-right: 8px }
.mr_12 { margin-right: 12px }
.mr_16 { margin-right: 16px }
.mr_24 { margin-right: 24px }
.mr_32 { margin-right: 32px }
.mr_40 { margin-right: 40px }
.mr_48 { margin-right: 48px }
.mr_56 { margin-right: 56px }
.mr_64 { margin-right: 64px }
.mr_72 { margin-right: 72px }
.mr_80 { margin-right: 80px }

/* Margin Bottom */
.mb_a { margin-bottom: auto }
.mb_0 { margin-bottom: 0 }
.mb_2 { margin-bottom: 2px }
.mb_4 { margin-bottom: 4px }
.mb_8 { margin-bottom: 8px }
.mb_12 { margin-bottom: 12px }
.mb_16 { margin-bottom: 16px }
.mb_24 { margin-bottom: 24px }
.mb_32 { margin-bottom: 32px }
.mb_40 { margin-bottom: 40px }
.mb_48 { margin-bottom: 48px }
.mb_56 { margin-bottom: 56px }
.mb_64 { margin-bottom: 64px }
.mb_72 { margin-bottom: 72px }
.mb_80 { margin-bottom: 80px }

/* Margin Left */
.ml_a { margin-left: auto }
.ml_0 { margin-left: 0 }
.ml_2 { margin-left: 2px }
.ml_4 { margin-left: 4px }
.ml_8 { margin-left: 8px }
.ml_12 { margin-left: 12px }
.ml_16 { margin-left: 16px }
.ml_24 { margin-left: 24px }
.ml_32 { margin-left: 32px }
.ml_40 { margin-left: 40px }
.ml_48 { margin-left: 48px }
.ml_56 { margin-left: 56px }
.ml_64 { margin-left: 64px }
.ml_72 { margin-left: 72px }
.ml_80 { margin-left: 80px }

/* Margin X */
.mx_a { margin-left: auto; margin-right: auto }
.mx_0 { margin-left: 0; margin-right: 0 }
.mx_2 { margin-left: 2px; margin-right: 2px }
.mx_4 { margin-left: 4px; margin-right: 4px }
.mx_8 { margin-left: 8px; margin-right: 8px }
.mx_12 { margin-left: 12px; margin-right: 12px }
.mx_16 { margin-left: 16px; margin-right: 16px }
.mx_24 { margin-left: 24px; margin-right: 24px }
.mx_32 { margin-left: 32px; margin-right: 32px }
.mx_40 { margin-left: 40px; margin-right: 40px }
.mx_48 { margin-left: 48px; margin-right: 48px }
.mx_56 { margin-left: 56px; margin-right: 56px }
.mx_64 { margin-left: 64px; margin-right: 64px }
.mx_72 { margin-left: 72px; margin-right: 72px }
.mx_80 { margin-left: 80px; margin-right: 80px }

/* Margin Y */
.my_a { margin-top: auto; margin-bottom: auto }
.my_0 { margin-top: 0; margin-bottom: 0 }
.my_2 { margin-top: 2px; margin-bottom: 2px }
.my_4 { margin-top: 4px; margin-bottom: 4px }
.my_8 { margin-top: 8px; margin-bottom: 8px }
.my_12 { margin-top: 12px; margin-bottom: 12px }
.my_16 { margin-top: 16px; margin-bottom: 16px }
.my_24 { margin-top: 24px; margin-bottom: 24px }
.my_32 { margin-top: 32px; margin-bottom: 32px }
.my_40 { margin-top: 40px; margin-bottom: 40px }
.my_48 { margin-top: 48px; margin-bottom: 48px }
.my_56 { margin-top: 56px; margin-bottom: 56px }
.my_64 { margin-top: 64px; margin-bottom: 64px }
.my_72 { margin-top: 72px; margin-bottom: 72px }
.my_80 { margin-top: 80px; margin-bottom: 80px }
